#container
{
border:  solid ;
width: 1000px;
margin-left: auto;
margin-right: auto;
}


#logo
{
padding:50px;
text-align: center;
}

	
#tresc
{

font-size:25px;
margin-left:400px;
margin-bottom:50px;
line-height:1.5;
}

		
#footer
{
clear: both;
background-color: black;
color: white;
text-align: center;
padding:20px;
}